<div class="wrapper">

    <div class="input-wrapper">
        <div class='field'>
            <label for="part-number">PEÇA</label>
            <input [(ngModel)]='formOpk.partNumber' name='part-number' class='input-field' id='part-number' type="text"
                required>
        </div>

        <div class='field' style='float: left;'>
            <label for="station-id">ID DO POSTO</label>
            <input [(ngModel)]='formOpk.stationId' name='station-id' class='input-field' id='station-id' type="number"
                required>
        </div>
    </div>

    <br>
    <br>

    <div class="button-wrapper">
        <a mat-raised-button routerLink='/opk' class="button-back"> VOLTAR </a>
        <button mat-raised-button type='submit' id='save-button' class="button-save" (click)='save(formOpk)'>SALVAR</button>
    </div>    

</div>

<br>