mat-toolbar{
    background-color: black;
    color: white;
    font-weight: bold;
}

.spacer{
    flex: 1 1 auto;
}

.status {
    float: left;
    display: block;    
    margin: 10px;
    border-radius: 50%;
    background: black;
    height: 2rem;
    width: 2rem;    
}

.date-time{
    font-weight: bold;
}


.online {             
    background: radial-gradient(circle at 10px 10px, #55DD44, #000);              
}

.offline {                   
    background: radial-gradient(circle at 10px 10px, #f44242, #000);          
}

.timer{
    font-size: 2rem;
    color: gold;
}

.play {
    color: limegreen;
    font-size: 2rem;
    margin-left: 1.5%;
    padding-bottom: 8px;
}

.pause{
    color: goldenrod;
    font-size: 2rem;
    margin-left: 1.5%;
    padding-bottom: 8px;
}