<mat-toolbar>

  <mat-menu #appMenu='matMenu'>

    <button routerLink='/' mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      Comboio
    </button>

    <button routerLink='/button-config' mat-menu-item>
      <mat-icon>lightbulb_outline</mat-icon>
      Cadastro de Lâmpadas
    </button>

    <button routerLink='/opk' mat-menu-item>
      <mat-icon>styles</mat-icon>
      Cadastro de OPKs
    </button>

    <button routerLink='/configuration' mat-menu-item>
      <mat-icon>settings</mat-icon>
      Configurações
    </button>

    <button routerLink='/tests' mat-menu-item>
      <mat-icon>keyboard</mat-icon>
      Testes
    </button>

    <button routerLink='/about' mat-menu-item>
      <mat-icon>info</mat-icon>
      Sobre
    </button>

    <button mat-menu-item (click)="andonCall()">
      <mat-icon>warning</mat-icon>
      ANDON
    </button>

    <button routerLink='/followup' mat-menu-item>
      <mat-icon>description</mat-icon>
      Acompanhamento
    </button>

    <button mat-menu-item onclick="window.location = '/';">
      <mat-icon>autorenew</mat-icon>
      Recarregar
    </button>

  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]='appMenu'>
    <mat-icon class="mat-24">menu</mat-icon>
  </button>

  <span class=''> PICKING BY LIGHT </span>

  <span class="spacer"></span>

  <!-- <span> {{ device?.deviceModel }} </span> -->
  <span class='timer'> {{ timer | time }} </span>

  <mat-icon *ngIf='timer > 0' class='play'>play_circle_outline</mat-icon>
  <mat-icon *ngIf='timer == 0 ' class='pause'>pause_circle_outline</mat-icon>

  <span class="spacer"></span>

  <span class='ip'> {{ ip }} </span>
  <div class='status' [ngClass]='isOnline ? "online" : "offline" '></div>

  <span class="spacer"></span>

  <span class='date-time'>{{ dateTime | date:'dd/MM/yyyy HH:mm:ss' }}</span>

</mat-toolbar>
