<h1 md-dialog-title> SOLICITAR EMPILHADEIRA </h1>

<md-dialog-content>        
           
    <md-input-container > <!-- class='full-width' -->
        <input mdInput id='partNumber' type="number" placeholder="PEÇA Nº" min=0 [(ngModel)]='partMissing.part' [value]="partMissing.part"/>
    </md-input-container>    

    <md-input-container > <!-- class='full-width' -->
        <input mdInput id='partBuffer' type='number' placeholder="BUFFER" min=0 [(ngModel)]='partMissing.buffer'/>
    </md-input-container>

    <md-input-container > <!-- class='full-width' -->
        <input mdInput id='partModule' type='number' placeholder="MODULO" min=0 [(ngModel)]='partMissing.module'/>
    </md-input-container>

</md-dialog-content>

<md-dialog-actions>

    <span class='spacer'></span>
    <button md-raised-button md-dialog-close color='primary' (click)='requestMissing(true)' > FALTANTE </button>
    <span class='spacer'></span>
    <button md-raised-button md-dialog-close (click)='requestMissing(false)'> NÃO FALTANTE </button>
    <span class='spacer'></span>    
    <button md-raised-button md-dialog-close color='warn'> CANCELAR </button>
    <span class='spacer'></span>    

</md-dialog-actions>