* {
    position: relative;
    float: left;
}

button {
 width: 5rem;
 height: 5rem;
 margin-left: 1%;
 margin-top: 2.75%;
 background-color: rgb(223, 227, 5) !important; 
}

img{
    width: 80%;
    margin-left: 10%;
}

.pending-part-button {
    color: white;
    font-weight: bold;
    background-color: red !important;
}