<h1 mat-dialog-title> SOLICITAR EMPILHADEIRA </h1>

<mat-dialog-content>

    <!-- <mat-input-container>        
        <input matInput id='stationId' type="number" placeholder="PEÇA Nº" min=0 [(ngModel)]='partMissing.stationId'
            [value]="partMissing.stationId" />
    </mat-input-container> -->

    <mat-input-container>
        <!-- class='full-width' -->
        <input matInput id='partNumber' type="number" placeholder="PEÇA Nº" min=0 [(ngModel)]='partMissing.part'
            [value]="partMissing.part" />
    </mat-input-container>

    <mat-input-container>
        <!-- class='full-width' -->
        <input matInput id='partBuffer' type='number' placeholder="BUFFER" min=0 [(ngModel)]='partMissing.buffer' />
    </mat-input-container>

    <mat-input-container>
        <!-- class='full-width' -->
        <input matInput id='partModule' type='number' placeholder="MODULO" min=0 [(ngModel)]='partMissing.module' />
    </mat-input-container>

</mat-dialog-content>

<mat-dialog-actions>

    <span class='spacer'></span>
    <button mat-raised-button mat-dialog-close color='primary' (click)='requestMissing(true)'> FALTANTE </button>
    <span class='spacer'></span>
    <button mat-raised-button mat-dialog-close (click)='requestMissing(false)'> NÃO FALTANTE </button>
    <span class='spacer'></span>
    <button mat-raised-button mat-dialog-close color='warn'> CANCELAR </button>
    <span class='spacer'></span>

</mat-dialog-actions>