<div class="wrapper">

  <h1>CADASTRO DE OPKs</h1>

  <div class='button-wrapper'>
    <a routerLink='./create' id='btn-new' mat-raised-button color='primary'>
      <mat-icon> add </mat-icon> CADASTRAR
    </a>
    <button id='btn-refresh' mat-raised-button color='accent' (click)='refresh()'>
          <mat-icon>refresh</mat-icon> ATUALIZAR
        </button>
  </div>

  <hr>

  <div class='container' #container>

    <table id='opk-table'>

      <th *ngFor='let header of headers; let i = index' class='header-{{header}}'>
        {{ header }}
      </th>

      <tr></tr>

      <tr *ngFor='let opk of opks'>
        <td> {{ opk?.partNumber }}</td>
        <td> {{ opk?.stationId }}</td>
        <td>
          <a mat-raised-button color='accent' [routerLink]="['edit', opk.partNumber]">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
        <td>
          <button mat-raised-button color='warn' (click)='delete(opk)'>
          <mat-icon class='delete-icon'>delete</mat-icon>
        </button>
        </td>

      </tr>

    </table>

  </div>

  <hr>

</div>
