<div>
    <h5>Controladora</h5>
    <md-radio-group style='display: inline;' [(ngModel)]='selected.controller'>
        <md-radio-button value='-1' name='controller' seleted> TODOS </md-radio-button>
        <md-radio-button *ngFor="let controller of controllers" [value]='controller' name="controller"> {{ controller }} </md-radio-button>
    </md-radio-group>

    <h5>Nó</h5>
    <select [(ngModel)]='selected.node'>
        <option value="-1" selected>TODOS</option>
        <option *ngFor='let node of nodes' [ngValue]="node" > {{ node }} </option>
    </select>

    <h4>Cor</h4>
    <md-radio-group style='display: flex;' [(ngModel)]='selected.color'>
        <md-radio-button *ngFor="let color of colors" [value]='color' name="color"> {{ color }}</md-radio-button>
    </md-radio-group>

    <br>
    <br>

    <button md-raised-button (click)='forceOn()'>ENVIAR</button>

</div>

<hr>

<input [(ngModel)]='selected.controller' type="text">
<input [(ngModel)]='selected.node' type="text">
<input [(ngModel)]='selected.color' type="text">

<br><br>