.wrapper {
    width: 52%;
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 0.5%;
    margin-bottom: 0.75%;
    height: 22rem;
    background-color:  #dbeffc;
    border: 12px solid red;
}

.wrapper::after{
    clear: right;
}

.box-wrapper{
  width: 20%;
  height: 5rem;
  float: left;
  margin-left: 4%;
  margin-bottom: 5%;
  margin-top: 3%;
  background-color: white;
}

mat-card {
    padding: 0px 0px 0px 0px ;
    background-color:  #dbeffc;
    border: 12px solid red;
}

.wagon-unfinished{
    border: 7px red solid;
}

.wagon-finished{
    border: 7px greenyellow solid;
}

.vertical{
    position: relative;
    float: left;
    width: 50%;
}

.horizontal{
    width: 100%;
}

.box-sequence{
    float: left;
    text-align: center;
    width: 10%;
}
