.banner {    
    margin: auto;
    margin-top: 2%;    
    margin-bottom: 4%;
    
    /*background-color: #2277DD;*/
    text-align: center;
    vertical-align: center;
    padding-top: 1%;    
}

.banner-content{
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : black;
}

mat-spinner{
    margin: auto;
    height: 250px;
    width: 400px;
}