mat-card {
    float: left;
    width: 40%;
    margin-left: 3%;
    margin-top: 0.7%;
    padding: 0.2%;
}

mat-card-title {
    text-align: center;
    font-weight: bold;
}

.wagon-number {
    font-size: 2.25em;
    color: #2780ba;
    text-shadow: 1px 1px black;
}

.mcc {
    background-color: yellow;
}
