mat-card {
    /* margin-left: 100%; */
    position: relative;
    float: left;
    margin-top: 1000px;
    width: 70%;
}

.content-wrapper{
    overflow: auto;
    position: relative;
}

.part-control{
    float: left;
    font-size: 2em;
    height: 5rem;
    width: 22%;
    font-weight: bold;
    margin-top: 0.7%;
}

.return-part {
    color: white;
    background-color: red;
    text-align: center;
    margin-left: 12.5%;
}

.confirm-part {
    color: white;
    background-color: #01A538;
    word-break: break-all;
    text-align: center;
    margin-left: 5%;
}

.mcc {
    background-color: yellow;
}

.no-parts {
  display: flex;
  margin-top: 2%;
  width: 100%;
  justify-content: center;
}
