mat-card{
    position: relative;
    float: left;
    width: 25%;
    padding: 2px 0px 0px 0px;
    text-align: center;
    margin-left: 7.5%;
    margin-bottom: 0.5%;
}

mat-card-title{
    margin-bottom: 0%;
    font-size: 0.8rem;
}

mat-card-content{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: -10px;
}
