md-card{
    position: relative;
    float: left;            
    width: 27.5%;
    margin-right: 3%;
    padding: 7px 0px 7px 0px;
    text-align: center;
    margin-left: 6%;
}

.total {    
    font-size : 22px;
}

md-card-header{
    text-align: center;
}

md-card-title{
    /* text-align: center; */
}

md-card-content{
    text-align: center;
    font-size: 8.5vw;
    font-weight: bold;
}