* {
    position: relative;
    float: left;
}

button {
 width: 4rem;
 height: 4rem;
 margin-left: 0.5%;
 margin-top: 2.75%;
 background-color: rgb(223, 227, 5) !important; 
 border-radius: 50%;
}

img {
    width: 80%;
    margin-left: 10%;    
}

.pending-part-button {
    color: white;
    font-weight: bold;
    background-color: red !important;
}