<form #f='ngForm'>

  <mat-form-field class='field'>
    <input matInput placeholder="PLC" [(ngModel)]='formButton.plc' name='button-id' class='input-field' id='button-id'
      type="number" min="0" required />
  </mat-form-field>

  <mat-form-field class='field'>
    <input matInput placeholder="ID UNICO" [(ngModel)]='formButton.buttonId' name='button-id' class='input-field' id='button-id'
      type="number" min="0" required />
  </mat-form-field>

  <mat-form-field class='field'>
    <input matInput placeholder="CONTROLADORA" [(ngModel)]='formButton.controllerId' name='controller-id' class='input-field'
      id='controller-id' type="number" min="0" required>
  </mat-form-field>

  <mat-form-field class='field'>
    <input matInput placeholder='NUMERO' [(ngModel)]='formButton.buttonNode' name='button-node' class='input-field' id='button-num'
      type="number" min="0" required>
  </mat-form-field>

  <mat-form-field class='field'>
    <input matInput placeholder='PEÇA' [(ngModel)]='formButton.partNumber' name='part-number' class='input-field' id='part-number'
      type="text" required />
  </mat-form-field>

  <mat-form-field class='field'>
    <input matInput placeholder='ID DO POSTO' [(ngModel)]='formButton.stationId' name='station-id' class='input-field'
      id='station-id' type="number" required>
  </mat-form-field>

  <mat-form-field class='field'>
    <input matInput placeholder='COR' [(ngModel)]='formButton.color' name='color-id' class='input-field' id='color' type="number"
      required>
  </mat-form-field>

  <br>

</form>

<div class="button-wrapper">
  <a mat-raised-button routerLink='/shelf-config'> VOLTAR </a>
  <button mat-raised-button id='save-button' (click)='save(formButton, f)'>SALVAR</button>
</div>