md-card{
    position: relative;
    float: left;
    width: 27.5%;
    height: auto;    
    margin-top: 1%;    
}

md-card-title{
    text-align: center;
    font-weight: bold;    
}

md-card-footer{
    text-align: center;
    font-weight: bold;
    margin-top : 4%;    
    font-size: 150%;
    padding-bottom: 2%;
}

.part-number{
    font-size: 7vw;    
    color: #2780ba;
    text-shadow: 1px 1px black;
}

img{
    display: block;
    max-width: 90%;    
    border: solid grey 1px;
    margin: auto;
    margin-bottom: 3rem;
    
}
