.wrapper {
    width: 35%;
    float: left;
    margin: 1%;    
}

mat-card {
    height: 4.7rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;    
}

.row {
    display: flex;
    text-align: center;
    position: relative;
    width: 100%;
}

.row:nth-child(2) {
    margin-top: 12%;
}

.row div:nth-child(1) {
    font-weight: bold;
    height: 1.5em;
}

.row div:nth-child(2) {
    color: rgb(9, 54, 253);
    margin-left: 15%;
    font-size: 3.5rem;
    font-weight: bold;
}

.popids {
    font-size: 2.5rem;
}

.sequence {
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
}

.mcc {
    background-color: yellow !important;
}