md-card {
    border: green 2px solid;    
    height: 5rem;
    width: 5rem;
    position: relative;
    float: left;
    margin-left: 7%;    
    margin-right: auto; 
    margin-top: 2.5%;
    margin-bottom: 2.5%;     
    text-align: center;    
    background-color: #9696EE;
    color: white;
}

.box-quantity{    
    padding: 0;    
    font-size: 4.5rem;
}

.box-finished{
    background-color: lightgreen;
    font-size: 4.5vw;    
}

.box-unfinished{
    background-color: yellow;
    font-size: 4.5vw;
    
}

.box-sequence{
    text-align: center;
    width: 5rem;
}