md-card {
    border: green 2px solid;    
    height: 4vw;
    width: 4vw;
    position: relative;
    float: left;
    margin-left: 6%;    
    margin-right: auto; 
    margin-top: 2.5%;
    margin-bottom: 2.5%;     
    text-align: center;    
}

.box-quantity{    
    padding: 0;    
    font-size: 4.5vw;
}

.box-finished{
    background-color: lightgreen;
    font-size: 4.5vw;
    
}

.box-unfinished{
    background-color: yellow;
    font-size: 4.5vw;
    
}