<h2>Cadastro do dispositivo</h2>

<form #deviceForm='ngForm'>

    <select placeholder='DISPOSITIVO' floatPlaceholder="auto" [(ngModel)]='selectedDevice.name' name='deviceName' #deviceName='ngModel'
        required>
        <option *ngFor='let device of devices' [value]='device.name'>
            {{ device.name }}
        <option>
    </select>

    <input type="text" placeholder='USUARIO' [value]='deviceUser' [(ngModel)]='selectedDevice.user' id='deviceUser' name='deviceUser'
        #deviceUser='ngModel' required />

    <button mat-raised-button color='primary' (click)='saveChanges()'> SALVAR ALTERAÇÕES</button>
    <button mat-raised-button color='warn' (click)='unregisterDevice()'> REMOVER DISPOSITIVO</button>

</form>


<div class='invalid-form-container'>
    <div [hidden]='deviceName.valid || deviceName.pristine' class='invalid-form'>
        É NECESSÁRIO DISPONIBILIZAR UM DISPOSITIVO PARA O SISTEMA
    </div>

    <div [hidden]='deviceUser.valid || deviceUser.pristine' class='invalid-form'>
        É NECESSÁRIO DISPONIBILIZAR UM USUÁRIO PARA O SISTEMA
    </div>
</div>

<div class='invalid-form-container'>
  <div [hidden]='!deviceNotFound' class='invalid-form'>
      DISPOSITIVO NÃO CADASTRADO
  </div>
</div>

<hr>
<div class='stations-container'>
<h2> Postos disponíveis para este equipamento </h2>

    <div *ngFor='let station of device.stations; let i = index;'>
        <button class='station' [class.selected-station]="station == selectedStation"  mat-raised-button (click)='changeStation(station, i)'>{{ i + 1 }} - {{ station }} </button>
    </div>
    <!-- <button md-raised-button style='background:limegreen; color: white;' >SALVAR</button> -->
</div>






<hr>
<!-- <hr> ORIENTAÇÃO DOS COMBOIOS
<hr> REENVIAR -->
