.wrapper{
    width: 55%; 
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 2%;    
    
    align-content: center;
}

md-card{
    margin: auto;
    padding: 10px;    
    background-color:  #dbeffc;
}

.wagon-unfinished{
    border: 10px red solid;
}

.wagon-finished{
    border: 10px greenyellow solid;
}

.vertical{    
    position: relative;
    float: left;
    width: 50%;       
}

.horizontal{    
    position: relative;
    float: left;
    width: 100%;
}

