.wrapper{
    width: 56%; 
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 2%;       
    align-content: center;
    display: flex;    
    
}

md-card {    
    padding: 0px 0px 0px 0px ;
    background-color:  #dbeffc;
    border: 20px solid red; 
    margin-bottom: 22px;   
    
}

.wagon-unfinished{
    border: 7px red solid;
}

.wagon-finished{
    border: 7px greenyellow solid;
}

.vertical{    
    position: relative;
    float: left;
    width: 50%;       
}

.horizontal{        
    width: 100%;
}

