<div class="container">

  <div class="form-wrapper">

    <form #f='ngForm'>


      <div class="form-row">
        <mat-form-field>
          <mat-select placeholder="SELECIONE O PLC" [(ngModel)]="formButton.plc" name="button-plc" required>
            <mat-option *ngFor="let plc of config.plcs" [value]="plc"> {{plc}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="form-row">
        <mat-form-field class='field'>
          <input matInput placeholder="ID" [(ngModel)]='formButton.buttonId' name='button-id' class='input-field'
            id='button-id' type="number" min="0" required disabled />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class='field'>
          <input matInput placeholder="CONTROLADORA" [(ngModel)]='formButton.controllerId' name='controller-id'
            class='input-field' id='controller-id' type="number" min="0" required>
        </mat-form-field>

        <mat-form-field class='field'>
          <input matInput placeholder='NUMERO' [(ngModel)]='formButton.buttonNode' name='button-node'
            class='input-field' id='button-num' type="number" min="0" required>
        </mat-form-field>

      </div>

      <div class="form-row">
        <mat-form-field class='field'>
          <input matInput placeholder='PEÇA' [(ngModel)]='formButton.partNumber' name='part-number' class='input-field'
            id='part-number' type="text" required />
        </mat-form-field>

        <mat-form-field class='field'>
          <input matInput placeholder='ID DO POSTO' [(ngModel)]='formButton.stationId' name='station-id'
            class='input-field' id='station-id' type="number" min=0 required>
        </mat-form-field>
      </div>

      <div class="form-row">

        <mat-form-field>
          <mat-select id="color" name="color-id" placeholder="COR" [(ngModel)]="formButton.color" required>
            <mat-option *ngFor="let color of config.colors" [value]="color.value" [style.background-color]="color.rgb">
              {{color.name}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select id="direction" name="direction" placeholder="DIREÇÃO" [(ngModel)]="formButton.direction" required>
            <mat-option value="none">NENHUM</mat-option>
            <mat-option value="up">CIMA</mat-option>
            <mat-option value="down">BAIXO</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <br>

    </form>

  </div>

  <div class="button-wrapper">
    <a class="button-back" mat-raised-button routerLink='/button-config'> VOLTAR </a>
    <button id='save-button' class="button-save" mat-raised-button (click)='save(formButton)'>SALVAR</button>
  </div>

</div>
